<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          
          
          {{ range .Pages }}
              <!--<p>{{ printf "%#v" .RelPermalink }}</p>-->
              {{ if eq "/footer/" .RelPermalink }}
              <ul>                    
                  {{ range .Pages }}
                  <li class="zerostatic">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                  </li>
                        <!--{{ .Render "summary" }}-->
                  {{ end }}
                    
                </ul> 
                {{ end }}
          {{ end }}

          {{ block "main" . }}
          {{ end }}

          <!-- <br/> {{ printf "%#v" .Kind }} -->
        </div>
      </div>
    </div>
  </div>
</div>