<!-- FILTERS START-->
<div class="col-12 col-md-3 col-lg-2 border border-dark p-2">
  <div class="card border-0 mx-1 mx-lg-0">
      <div class="filters">
        {{ if .Site.Taxonomies.tags }}
          <div class="button-group ms-2" data-filter-group="tags">
            <p class="mt-2 mb-1 fs-3 fw-bold">Filter Topics</p>          
            {{ range $key, $values := .Site.Taxonomies.tags}}
            <button class="btn btn-sm btn-dark filter-btn my-1" data-filter=".{{ $key }}">{{ $tagpage := $.Site.GetPage $key }}{{ $tagpage.Title }}</button>
            {{ end }}
            <button class="btn btn-sm btn-secondary filter-btn active my-1" data-filter="*">All</button>
          </div>
        {{ end }}
      </div>
  </div>
</div>
<!-- FILTERS END-->