<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{ block "title" . }}
            {{ .Title }} - {{ .Site.Title }}
        {{ end }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ block "meta_tags" . }}
        <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
        <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
        <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
        <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
        <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
        <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
        <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
        <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
        <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
    {{end}}

    <link rel="icon" type="image/png" href="/images/favicon.png">

    {{ block "header_css" . }}
        {{ if .Site.IsServer }}
            {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
                <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
        {{ else }}
            {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
                <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
        {{ end }}
    {{ end }}
</head>