// Font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700|Roboto+Mono:300,400');

// Bootstrap
@import 'bootstrap/functions';
@import 'bootstrap-variables';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/reboot';
@import 'bootstrap/utilities';
@import 'bootstrap/grid';
@import 'bootstrap/tables';

// Libraries
@import 'libraries/hamburgers/hamburgers';
@import 'libraries/pygments/github';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/docs-menu';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/overview';
@import 'components/anchor';

// Pages
@import 'pages/home';


// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;


$headline-mt-base: 60px !default;
$headline-mt-1: $headline-mt-base *0.8 !default;
$headline-mb-base: 20px !default;

//$font-size-base: 16px !default;
//$font-size-12: 0.75rem !default;
//$font-size-14: 0.875rem !default;
//$font-size-16: 1rem !default;


.section-flat {
  margin-bottom: $padding-16 * 2;

  &:not(:first-child) {
    margin-top: $padding-16 * 2;
  }

  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 0;
  }
}

.title {
  font-size: 2.0rem;
  line-height: 1.1;
  font-family: $font-family-base;
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-bottom: 20px;
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
    margin-bottom: 30px;
  }
}
.title-summary {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: $font-family-base;
  letter-spacing: -0.2px;
  font-weight: 200;
  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.overview {
  background: #586F6B; //rgba(255, 32, 121, 0.1); //#FF2079;
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
  float: right;
}

.content {

  h1 {
      font-family: $font-family-base;
      font-size: 2.0rem;
      line-height: 1.4;
      font-weight: 400;
      margin-bottom: $headline-mb-base;
    }
    h2 {
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 400;
      letter-spacing: -0.01em;
      font-family: $font-family-base;
      margin-bottom: $headline-mb-base;
      margin-top: $headline-mt-base;
    }
    h3 {
      font-size: 1.3rem;
      line-height: 1.4;
      font-weight: 400;
      font-family: $font-family-base;
      margin-bottom: $headline-mb-base;
      margin-top: $headline-mt-1;
    }
    h4 {
      font-size: 1.2rem;
      line-height: 1.4;
      font-weight: 400;
      font-family: $font-family-base;
      margin-bottom: $headline-mb-base;
      margin-top: $headline-mt-1;
    }
    h5 {
      font-size: 1.1rem;
      line-height: 1.4;
      font-weight: 400;
      font-family: $font-family-base;
      margin-bottom: $headline-mb-base;
      margin-top: $headline-mt-1;
    }
    h6 {
      font-size: 1.0rem;
      line-height: 1.4;
      font-weight: 400;
      font-family: $font-family-base;
      margin-bottom: $headline-mb-base;
    }

    p {
      margin-bottom: 20px;
    }

    ul, ul.p {
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-bottom: 0px;
    }

    h2+h3 {
      margin-top:-$headline-mt-1/4;
    }

    h2.references~p {
      font-size: 0.9rem;
      margin-top:-$headline-mt-1/4;
    }
    
  }

.toc {
  ul {
    list-style-type: square;
  }
}



  