{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
  
  <!--<div class="container py-0 py-md-2">
  </div>-->
  <div class="container content" >

    <!-- CONTENT SECTION START -->
    <div class="row">

      {{ if .Site.Params.homepage_image }}
        <div class="col-12 col-md-11 mx-auto my-0 p-0">  
          <img src="{{ .Site.Params.homepage_image | relURL}}" />
        </div>
     {{ end }}

      <div class="col-12 col-md-8 mx-auto my-4 fs-2 content">
        <h1 class="title mt-4">{{.Title}}</h1>
        {{ .Content}}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 mx-auto">
        {{ range .Site.Params.content_paths }}        
          {{ $current := relURL . | string }}
            {{ with $.Site.GetPage $current }}
              <h2 class="mt-1">{{ .Title }}</h2>
              {{ range .Pages }}
                {{ .Render "page-summary" }}
              {{ end }}
            {{ end }}
        {{end }}

        
      </div>
    </div>    
  </div>    
    <!-- CONTENT SECTION END -->
    
    

  <div class="row my-4">
  </div>
{{ end }}

{{ define "footer_js" }}
  

  

{{ end }}
